@import url('colors.css');

.storier-reader{
    /*background: #e2da99;*/
}

.storier-reader .reader-title{
    font-weight: bold;
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 26px;
    padding: 10px 0;
    /*background: #93b1c6;*/
}

.storier-reader .reader-content .reader-text-content{
    font-family: "DejaVu Sans Mono", "Verdana", sans-serif;
    /*background: #e2da99;*/
    padding: 5px;
}

.storier-reader .reader-action{
    padding: 10px 0;
    display: none;
}

.storier-reader .reader-choices{
    display: none;
    padding: 10px 0;
    /*background: #de8642;*/
}

.storier-reader .reader-choices p{
    font-style: italic;
    font-size: 22px;
}

.storier-reader .reader-choices a{
    font-size: 18px;
}

.storier-reader .choice-separator{
    margin: 10px 0;
}

.storier-reader .reader-content .loading-screen{
    font-size: 24px;
    font-family: "Helvetica", sans-serif;
}

.storier-reader .reader-content .ending-screen{
    padding: 10px 0;
    display: none;
}

.storier-reader .reader-content .ending-screen .reader-ending-text{
    font-weight: bold;
    font-size: 16px;
}

.path-item{
    padding: 10px 0;
}

.with-top-border{
    border-top: 1px solid #000;
}

.with-lower-border{
    border-bottom: 1px solid #000;
}

.text-italic{
    font-style: italic;
}

.choice-resumo{
    font-size: 14px;
    font-weight: bold;
}

.choice-resumo p{
	text-decoration: italic;
}
